@charset "UTF-8";

body {
	background-image: url(https://i.imgur.com/AzO81pql.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: relative;
	margin: 0;
	padding-right: 3%;
	padding-top: 4%;
	padding-bottom: 5%;
	padding-left: 1%;
	color: white;
}

.parent {
	color: white;
	text-align: center;
}
.child-one {
	position: relative;
}
.child-two{
	position: relative;
	right: 500px;
	top: 250px;
} 
.child-three{
	position: relative;
	left: 500px;
	top: 220px;
}
.video{
	position: relative;
	top: 100px;
}
.videotext{
	position: relative;
	top: 100px;
}
	
a {
	color: white;
}